@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>Çırağan Cd. Osmanpaşa Mektebi Sk. No:4-6 34353</h3>
    <h3>Beşiktaş/ISTANBUL</h3>
    <h3>E-posta adresimiz:</h3>
    <h3><a href="mailto:dilsad.sahin.98@gmail.com">dilsad.sahin.98@gmail.com</a></h3>
</div>
